body{
    background-color: rgb(55, 71, 85);
}
div{
    width: 350px;
    height: 400px;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 10%;
    margin-left: 10%;
    color: aliceblue;
}
div::first-letter{
    color: rgb(221, 183, 226);
}
div::selection{
    color: rgb(193, 193, 243);
}
